{% extends "payments/index.html" %}

{% block content %}

<body style="background-color:#D8C6B2;">
<form class="upload" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<h2 class="profile">Profile:</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}
     style="color:#EF0D35;margin-left: -101px;">{{ message }}
</li>
    {% endfor %}
</ul>


{% endif %}
<table class="profile_table">
	<tr>
		<td>Name:</td>
		<td>{{details.0}}</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>{{details.1}}</td>
	</tr>
		<tr>
		<td>Mobile Number:</td>
		<td>{{details.2}}</td>
	</tr>
	<tr>
		<td>Plan:</td>
		<td>{{details.5}}</td>
	</tr>
		<tr>
		<td>No of files can upload:</td>
		<td>{{details.6}}</td>
	</tr>
	<tr>
		<td>No.of files uploaded:</td>
		<td>{{details.3}}</td>
	</tr>
	<!-- <tr>
		<td> List of uploaded files:</td>
		{% for list in details.4|slice:":1000" %}
		<td>{{list}}</td>
		{% endfor %}
	</tr> -->
</table>

<table class="profile_table">
	<tr>
      <td><p>Select File:</p></td>
	  <td><input type="file" name="file" size="30" ></td>
	</tr>
	<tr>
 	<td><p>Description:</p></td>
	<td><input type="text" name="title" ></td>
	</tr>
</table>
<input type="submit" value="Upload" class="upload_button">

</form>

</body>

{% endblock %}